#gallery-content {
    position: relative;
        height: 100%;
    width: 100%;
}

#gallery-content .g {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 25%;
    float: left;
}

#gallery-content .g .h {
    width: 100%;
    position: relative;
    height: 25%;
}

#gallery-content .g .h > span {   
    display: block;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    opacity: 1;
    transition: ease all 1s;
    animation: imageout 1s forwards;
    background-color: #067cda;
    padding: 20px;
    color: #fff;
}

#gallery-content .h span.active {
    opacity: 0;
    transition: ease opacity 1s;
    animation: imageanim 1s forwards;
}

.realbg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}